.error-template {
	padding: 40px 15px;
	text-align: center;
}
.error-details {
	padding: 20px 0;
	font-size: 22px;
}
.error-actions {
	margin-bottom: 25px 0;
}
.error-actions .btn { 
	margin-top: 10px;
}