<div class="text-center">

    {{diagnostic}}

    <form #loginForm="ngForm" (ngSubmit)="login()" class="form-signin">

      <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

      <input type="email" id="inputEmail" class="form-control" placeholder="Username or email address" [(ngModel)]="login.username" name="username" required autofocus #username="ngModel" />

      <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" [(ngModel)]="login.password" required #password="ngModel" />
      
      <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!loginForm.valid || submited">
        <i [hidden]="!submited" class="fa fa-refresh fa-spin"></i>
        <span [hidden]="submited">Sign in</span>
      </button>

    </form>

</div>

<!-- <a [routerLink]="['/user']">GO USER</a> -->