<div class="text-center">

    <form [formGroup]="loginForm" class="form-signin">
      <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" formControlName="_username" id="inputEmail" class="form-control" placeholder="Email address" autofocus />

      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" formControlName="_password" id="inputPassword" class="form-control" placeholder="Password" name="password" />
      
      <button class="btn btn-lg btn-primary btn-block" type="button" (click)="login()">Sign in</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2018</p>
    </form>

</div>

<a [routerLink]="['/user']">GO USER</a>