<div class="security-config-wrapper">
	
	<h5>
		<i class="fa fa-shield"></i>&nbsp;
		{{ 'components.configuration.change_your_pwd' | translate }}
	</h5>

	<div class="form-group row">
		<label for="nick" class="col-sm-2 col-form-label">{{ 'components.configuration.new_password' | translate }}</label>
		<div class="col-sm-10">
			<input id="nick" [(ngModel)]="newPassword" name="nick" type="text" class="form-control" />
		</div>
	</div>

	<div class="form-group row">
		<label for="nick" class="col-sm-2 col-form-label">{{ 'components.configuration.repeat_new_password' | translate }}</label>
		<div class="col-sm-10">
			<input id="nick" [(ngModel)]="newPassword2" name="nick" type="text" class="form-control" />
		</div>
	</div>

	<div class="form-group row">
		<label for="nick" class="col-sm-2 col-form-label">{{ 'components.configuration.enter_password' | translate }}</label>
		<div class="col-sm-10">
			<input id="nick" [(ngModel)]="currentPassword" name="nick" type="text" class="form-control" />
			<small>{{ 'components.configuration.pwd_confirm_message' | translate }}</small>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-10 text-center">

			<button (click)="saveChanges()" class="btn btn-primary">
				<i class="fa fa-save"></i>&nbsp;
				{{ 'common.save_changes' | translate }}
			</button>

		</div>
	</div>

</div>