<div class="card">

	<div class="card-body">
    
		<!-- card header -->
		<div class="row">

			<div class="col-xs-12 col-sm-6 col-md-6">

				<h5 class="card-title">
					<i class="fa fa-upload"></i>&nbsp;
					<span>{{ 'title.uploadFile' | translate }}</span>
				</h5>

			</div>

		</div>

		<hr />

		<!-- card body -->
		<div class="uploadFile" [hidden]="loading">

			<div *ngIf="!uploading" id="uploadFileInput" class="row justify-content-center">

				<button (click)="openFileSelectionDialog()" class="btn btn-info btn-lg">
					<i class="fa fa-file-text-o"></i>&nbsp;&nbsp;{{ 'components.uploads.create.select_files_btn' | translate }}
				</button>

				<input id="fileInput" class="d-none" type="file" (change)="onFileSelected($event)" multiple  />

			</div>
			
			<div id="files_preview" [hidden]="!selectedFiles">

				<h4>{{ 'components.uploads.create.selected_files' | translate }}</h4>

				<ul class="pt-2">
					<li *ngFor="let file of selectedFiles">
						{{ file.name }}
						&nbsp;
						<span *ngIf="!uploading" class="pointer" (click)="removeFile(file)"><i class="fa fa-times text-danger" ngbTooltip="{{ 'components.uploads.create.remove_file' | translate }}"></i></span>
					</li>
				</ul>

				<div id="uploadFileInput" class="row justify-content-center" *ngIf="!uploading">
					<button [hidden]="!selectedFiles" (click)="uploadFiles()" class="btn btn-lg btn-primary ml-1">
					    <i class="fa fa-upload"></i>&nbsp;&nbsp;{{ 'common.save_files' | translate }}
					</button>
				</div>

				<div class="text-center uploadingStatus" *ngIf="uploading">
					<i class="fa fa-refresh fa-spin"></i>
				</div>

			</div>

		</div>

	</div>

</div>