<div class="card">

	<div class="card-body">
    
		<spinner [show]="loading"></spinner>

		<!-- card header -->
		<div class="row" [hidden]="loading">

			<div class="col-xs-12 col-sm-6 col-md-6">

				<h5 class="card-title" [hidden]="loading">
					<i class="fa fa-upload"></i>&nbsp;
					<span>{{ 'title.uploadFile' | translate }}</span>
				</h5>

			</div>

			<div class="responsiveActionBtns col-xs-12 col-sm-6 col-md-6 text-right">

				<button class="btn btn-sm btn-outline-dark" onClick="javascript:history.go(-1);">
				    <i class="fa fa-arrow-left"></i>&nbsp;&nbsp;{{ 'common.go_back' | translate }}
				</button>

			</div>

		</div>

		<hr [hidden]="loading" />

		<!-- card body -->
		<div class="uploadFile" [hidden]="loading">

			<div id="uploadFileInput" class="row justify-content-center">

				<button (click)="openFileSelectionDialog()" class="btn btn-info btn-lg">
					<i class="fa fa-file-text-o"></i>&nbsp;&nbsp;{{ 'components.uploads.select_files_btn' | translate }}
				</button>

				<input id="fileInput" class="d-none" type="file" (change)="onFileSelected($event)" multiple  />

			</div>
			
			<div id="files_preview" [hidden]="!selectedFiles">

				<h4>{{ 'components.uploads.selected_files' | translate }}</h4>

				<ul class="pt-2">
					<li *ngFor="let file of selectedFiles">
						{{ file.name }}
						&nbsp;
						<span class="pointer" (click)="removeFile(file)"><i class="fa fa-times text-danger" ngbTooltip="{{ 'components.uploads.remove_file' | translate }}"></i></span>
					</li>
				</ul>

				<div id="uploadFileInput" class="row justify-content-center">
					<button [hidden]="!selectedFiles" (click)="uploadFiles()" class="btn btn-lg btn-primary ml-1">
					    <i class="fa fa-upload"></i>&nbsp;&nbsp;{{ 'common.save_files' | translate }}
					</button>
				</div>

			</div>

		</div>

	</div>

	<!-- footer -->
	<div class="card-footer text-muted" [hidden]="loading">
	    
	    <div class="row justify-content-end">

		    <div class="responsiveActionBtns col-md-12 ">

				<button class="btn btn-sm btn-outline-dark pull-right" onClick="javascript:history.go(-1);">
				    <i class="fa fa-arrow-left"></i>&nbsp;&nbsp;{{ 'common.go_back' | translate }}
				</button>

		    </div>
	    
	    </div>

	</div>

</div>