<div class="card">

	<div class="card-body">
    
		<spinner [show]="loading"></spinner>

		<!-- card header -->
		<div class="row" [hidden]="loading">

			<div class="col-xs-12 col-sm-6 col-md-6">

				<h5 class="card-title" [hidden]="loading">
					<i class="fa fa-upload"></i>&nbsp;
					<span>{{ 'title.uploadFile' | translate }}</span>
				</h5>

			</div>

			<div class="responsiveActionBtns col-xs-12 col-sm-6 col-md-6 text-right">

				<button (click)="onSubmit(f)" class="btn btn-sm btn-outline-primary pull-right marginLeftActionBtn">
				    <i class="fa fa-save"></i>&nbsp;&nbsp;{{ 'common.save_files' | translate }}
				</button>

				<button class="btn btn-sm btn-outline-dark" onClick="javascript:history.go(-1);">
				    <i class="fa fa-arrow-left"></i>&nbsp;&nbsp;{{ 'common.go_back' | translate }}
				</button>

			</div>

		</div>

		<hr [hidden]="loading" />

		<!-- card body -->
		<div class="uploadFile" [hidden]="loading">

			<div id="uploadFileInput" class="row justify-content-center">

				<input type="file" ng2FileSelect [uploader]="uploader" multiple  />

			</div>
			<br /><br />

			<div class="row justify-content-md-center">

				<div class="col-md-10">

					<h3>Upload queue</h3>
		            <p>Queue length: {{ uploader?.queue?.length }}</p>

		            <table class="table">
		                <thead>
		                <tr>
		                    <th width="50%">Name</th>
		                    <th>Size</th>
		                    <th>Progress</th>
		                    <th>Status</th>
		                    <th>Actions</th>
		                </tr>
		                </thead>
		                <tbody>
		                <tr *ngFor="let item of uploader.queue">
		                    <td><strong>{{ item?.file?.name }}</strong></td>
		                    <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
		                    <td *ngIf="uploader.isHTML5">
		                        <div class="progress" style="margin-bottom: 0;">
		                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
		                        </div>
		                    </td>
		                    <td class="text-center">
		                        <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
		                        <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
		                        <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
		                    </td>
		                    <td nowrap>
		                        <button type="button" class="btn btn-danger btn-xs"
		                                (click)="item.remove()">
		                            <span class="glyphicon glyphicon-trash"></span> Remove
		                        </button>
		                    </td>
		                </tr>
		                </tbody>
		            </table>

		            <div>
		                <div class="pt-4">
		                    Queue progress:
		                    <div class="progress mt-2" style="">
		                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
		                    </div>
		                </div>
		                
		                <div class="text-right mt-3 mb-5">
			                <button type="button" class="btn btn-success btn-s"
			                        (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
			                    <span class="glyphicon glyphicon-upload"></span> Upload all
			                </button>
			                <button type="button" class="btn btn-danger btn-s"
			                        (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
			                    <span class="glyphicon glyphicon-trash"></span> Remove all
			                </button>
			            </div>

					</div>			

				</div>

			</div>

		</div>

	</div>

	<!-- footer -->
	<div class="card-footer text-muted" [hidden]="loading">
	    
	    <div class="row justify-content-end">

		    <div class="responsiveActionBtns col-md-12 ">

		    	<button (click)="onSubmit(f)" class="btn btn-sm btn-outline-primary pull-right marginLeftActionBtn">
				    <i class="fa fa-save"></i>&nbsp;&nbsp;{{ 'common.save_files' | translate }}
				</button>
			
				<button class="btn btn-sm btn-outline-dark pull-right" onClick="javascript:history.go(-1);">
				    <i class="fa fa-arrow-left"></i>&nbsp;&nbsp;{{ 'common.go_back' | translate }}
				</button>

		    </div>
	    
	    </div>

	</div>

</div>