<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">{{ 'components.configuration.panel_title' | translate }}</h1>
</div>

<div class="col-md-12 padding0">

	<div class="card">

		<spinner [show]="loading"></spinner>

  		<div class="card-body">

  			<div class="row">

	  			<div class="col-md-2 config-sidebar">
	  				
	  				<ul>
	  					<li class="pointer" (click)="currentView = 'general'">
	  						<span [ngClass]="{ 'active' : currentView == 'general' }"><i class="fa fa-bars"></i>&nbsp;&nbsp;General</span>
	  					</li>
	  					<li  class="pointer" (click)="currentView = 'security'">
	  						<span [ngClass]="{ 'active' : currentView == 'security' }"><i class="fa fa-shield"></i>&nbsp;&nbsp;Seguridad</span>
	  					</li>
	  				</ul>

	  			</div>
	  			<div class="col-md-10 config-wrapper">
	  				
	  				<general-configuration *ngIf="currentView == 'general'"></general-configuration>
	  				<security-configuration *ngIf="currentView == 'security'"></security-configuration>

	  			</div>

  			</div>

  		</div>

  	</div>

 </div>