div.config-sidebar{
	border-right: 1px solid #CECECE;
	min-height: 200px;
}
div.config-wrapper{
	padding-left: 25px;
}
div.config-sidebar ul{
	padding: 0 0 0 5px;
}
div.config-sidebar ul li{
	list-style: none;
	margin-bottom: 10px;
}