<div class="card">

	<div class="card-body">
	    
		<h5 class="card-title">
			<a class="btn btn-sm btn-outline-primary pull-right marginLeftActionBtn" onClick="javascript:history.go(-1);">
			    <i class="fa fa-save"></i>&nbsp;&nbsp;{{ 'components.nottes.create.save' | translate }}
			</a>
			<a class="btn btn-sm btn-outline-dark pull-right" onClick="javascript:history.go(-1);">
			    <i class="fa fa-arrow-left"></i>&nbsp;&nbsp;{{ 'common.go_back' | translate }}
			</a>
		</h5>
		<div class="clearfix"></div>

		<hr />
		
		<div class="notte-content">TODO</div>

	</div>

	<div class="card-footer text-muted">
	    <div class="row">
		    <div class="col-md-6">
		    	
		    </div>
		    <div class="col-md-6 text-right">
		    	
		    </div>
	    </div>
	</div>

</div>