<div class="row">

	<div class="col-xs-12 col-sm-9 col-md-9">
		<h5 class="card-title">
			<span class="notte-name">{{ notte?.name }}</span>
		</h5>
	</div>

</div>

<div class="card">

	<div class="card-body">

		<!-- action btns -->
		<div class="row pb-3">
			<div class="col-9 align-middle">
				<i class="fa fa-user-circle align-middle"></i><span class="align-middle">&nbsp;&nbsp;{{ notte?.creator_user?.nickname }}</span>
			</div>
			<div class="responsiveActionBtns col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 text-right">
				<a class="btn btn-sm btn-outline-danger pull-right marginLeftActionBtn" (click)="deleteEntity(notte)">
				    <i class="fa fa-trash"></i>&nbsp;&nbsp;{{ 'common.delete_btn' | translate }}
				</a>
				<a (click)="editEntity()" href="javascript:void()" class="btn btn-sm btn-outline-primary pull-right marginLeftActionBtn">
				    <i class="fa fa-edit"></i>&nbsp;&nbsp;{{ 'common.edit_btn' | translate }}
				</a>
			</div>
		</div>

		<!-- content -->
		<div class="notte-content">

			<div class="row justify-content-md-center" *ngIf="notte?.is_encrypted && ! notte?.is_decrypted">

				<encryption-password-form (encryptionPasswordEvent)="receiveEncryptionPassword($event)"></encryption-password-form>

			</div>

			<div [hidden]="!contentIsVisible" [innerHTML]="notte?.content"></div>

		</div>

		<div [hidden]="!contentIsVisible">
		</div>

		<div class="row" [hidden]="!contentIsVisible">
		    <div class="col-md-6">
				<small>{{ notte?.tags }}</small>
				<!--<tags value="{{ notte?.tags }}"></tags>-->
		    </div>
		    <div class="col-md-6 text-right">
		    	<small>{{ 'components.docs.detail.last_update' | translate }} {{ notte?.updated_at | date:'dd/MM/yyyy HH:mm:ss' }}</small>
		    </div>
	    </div>

	</div>

</div>