<div class="card">

	<div class="card-body">
	    
		<h5 class="card-title">
			<span class="notte-name">{{ notte?.name }}</span>
			<a class="btn btn-sm btn-outline-danger pull-right marginLeftActionBtn" onClick="javascript:history.go(-1);">
			    <i class="fa fa-edit"></i>&nbsp;&nbsp;{{ 'common.delete_btn' | translate }}
			</a>
			<a class="btn btn-sm btn-outline-primary pull-right marginLeftActionBtn" onClick="javascript:history.go(-1);">
			    <i class="fa fa-edit"></i>&nbsp;&nbsp;{{ 'common.edit_btn' | translate }}
			</a>
			<a class="btn btn-sm btn-outline-dark pull-right" [routerLink]="['/dashboard']">
			    <i class="fa fa-list"></i>&nbsp;&nbsp;{{ 'common.go_back_list' | translate }}
			</a>
		</h5>

		<hr />
		
		<div class="notte-content">{{ notte?.content }}</div>

		<div>
			<small>{{ notte?.tags }}</small>
		</div>

	</div>

	<div class="card-footer text-muted">
	    <div class="row">
		    <div class="col-md-6">
		    	{{ notte?.creator_user.username }}
		    </div>
		    <div class="col-md-6 text-right">
		    	{{ 'components.docs.detail.last_update' | translate }} {{ notte?.updated_at | date:'dd/MM/yyyy HH:mm:ss' }}
		    </div>
	    </div>
	</div>

</div>