<div class="card">

	<spinner [show]="loading"></spinner>

	<div class="card-body" [hidden]="loading">
	    
		<h5 class="card-title">

			<i class="fa fa-file-text-o"></i>&nbsp;
			{{ 'components.docs.create.title' | translate }}
			<button (click)="onSubmit(f)" class="btn btn-sm btn-outline-primary pull-right marginLeftActionBtn">
			    <i class="fa fa-save"></i>&nbsp;&nbsp;{{ 'components.docs.create.save' | translate }}
			</button>
			<button class="btn btn-sm btn-outline-dark pull-right" onClick="javascript:history.go(-1);">
			    <i class="fa fa-arrow-left"></i>&nbsp;&nbsp;{{ 'common.go_back' | translate }}
			</button>

		</h5>
		<div class="clearfix"></div>

		<hr />
		
		<div class="notte-content">
			
			<form novalidate #f="ngForm">

				<!-- name -->
				<div class="form-group">

					<label for="notte-name">{{ 'components.docs.create.input_title' | translate }}</label>
					<input id="notte-name" name="name" type="text" class="form-control" placeholder="{{ 'components.docs.create.placeholders.input_title' | translate }}" ngModel required [ngClass]="{ 'is-invalid': f.controls.name?.errors?.required && submitedForm }" />

					<div *ngIf="f.controls.name?.errors?.required && submitedForm" class="invalid-feedback">
						{{ 'forms.required_field' | translate }}
					</div>

				</div>
				<!-- end name -->

				<!-- content -->
				<div id="nottes-editor-wrapper" class="form-group" [ngClass]="{ 'is-invalid': editorIsEmpty && submitedForm }">
					<label>{{ 'components.docs.create.input_content' | translate }}</label>
					<div id="nottes-editor"></div>

					<div *ngIf="editorIsEmpty && submitedForm" class="form-error">
						{{ 'forms.required_field' | translate }}
					</div>

				</div>
				<!-- end content -->

				<!-- tags -->
				<div class="form-group">
					<label for="notte-tags">{{ 'components.docs.create.input_tags' | translate }}</label>
					<input id="notte-tags" name="tags" type="text" class="form-control" placeholder="{{ 'components.docs.create.placeholders.input_tags' | translate }}" ngModel />
				</div>
				<!-- end tags -->

				<!-- encrypted -->
				<div class="form-group is-encrypted-switch">
				  <span class="switch">
				    <input type="checkbox" class="switch" id="notte-is-encrypted" name="isEncrypted" [(ngModel)]="isEncrypted" />
				    <label for="notte-is-encrypted">{{ 'components.docs.create.input_is_encrypted' | translate }}</label>
				  </span>
				</div>

				<div class="row" [hidden]="!f.value.isEncrypted">
					
					<div class="form-group col-md-4">
						<label for="encryption-password">{{ 'components.docs.create.input_encryption_pwd' | translate }}</label>
						<input [ngClass]="{ 'is-invalid': f.controls.encryptionpwd?.errors?.minlength && f.controls.encryptionpwd.dirty && f.value.encryptionpwd.length }" ngModel type="password" class="form-control" id="encryptionpwd" name="encryptionpwd" minlength="6" />

						<!-- check password length -->
						<div class="invalid-feedback" *ngIf="f.controls.encryptionpwd?.errors?.minlength && f.controls.encryptionpwd.dirty && f.value.encryptionpwd.length">
							{{ 'components.docs.errors.password_min_length' | translate }}
						</div>
						<!-- end check password length -->

					</div>
					
					<div class="form-group col-md-4">

						<label for="encryption-password2">{{ 'components.docs.create.input_repeat_encryption_pwd' | translate }}</label>
						<input ngModel type="password" class="form-control" id="encryptionpwd2" name="encryptionpwd2" minlength="6" [ngClass]="{ 'is-invalid': (f.value.encryptionpwd2 != f.value.encryptionpwd) && f.controls.encryptionpwd.dirty && f.controls.encryptionpwd2.dirty && f.value.encryptionpwd2.length }" />

						<!-- check if passwords match -->
						<div class="invalid-feedback" *ngIf="(f.value.encryptionpwd2 != f.value.encryptionpwd) && f.controls.encryptionpwd.dirty && f.controls.encryptionpwd2.dirty && f.value.encryptionpwd2.length" >
							{{ 'components.docs.errors.password_doesnt_match' | translate }}
						</div>
						<!-- end check if passwords match -->

					</div>

				</div>
				<!-- end encrypted -->

			</form>

		</div>

	</div>

	<div class="card-footer text-muted" [hidden]="loading">
	    <div class="row">
		    <div class="col-md-12 text-right">
		    	<button (click)="onSubmit(f)" class="btn btn-sm btn-outline-primary pull-right marginLeftActionBtn">
				    <i class="fa fa-save"></i>&nbsp;&nbsp;{{ 'components.docs.create.save' | translate }}
				</button>
				<button class="btn btn-sm btn-outline-dark pull-right" onClick="javascript:history.go(-1);">
				    <i class="fa fa-arrow-left"></i>&nbsp;&nbsp;{{ 'common.go_back' | translate }}
				</button>
		    </div>
	    </div>
	</div>

</div>