<form class="decryptionPassword" #f="ngForm">

	<div class="col-md-12 alert alert-info">
		<i class="fa fa-info-circle"></i>&nbsp;
		{{ 'components.docs.detail.encryption_alert_info' | translate }}
	</div>

  	<div class="form-group">

    	<input type="password" name="encryptionPassword" ngModel class="form-control text-center" id="encryptionPassword" placeholder="{{ 'components.docs.detail.encryption_password_input_placeholder' | translate }}" required="required" [ngClass]="{ 'is-invalid': f.controls.encryptionPassword?.errors?.required && submitedForm }" />

    	<div *ngIf="f.controls.encryptionPassword?.errors?.required && submitedForm" class="invalid-feedback">
			{{ 'forms.required_field' | translate }}
		</div>

  	</div>

  	<div class="text-center">
	  	<button (click)="decryptDoc(f)" class="btn btn-outline-primary">
		  	<i class="fa fa-shield"></i>&nbsp;
	  		{{ 'common.decrypt_btn' | translate }}
	  	</button>
	</div>

</form>