div.notte-content form.decryptionPassword{
	margin: 40px 0;
}

div.notte-content form.decryptionPassword div.alert{
	font-size: 18px !important;
}

div.notte-content form.decryptionPassword small#encryptionPasswordHelp{
	padding-top: 5px;
}

div.notte-content form.decryptionPassword input#encryptionPassword{
	font-size: 18px !important;
	padding: 10px 0;
}

div.notte-content form.decryptionPassword button{
	margin-top: 20px;
}