#sidebar {
    background: #323232;
    color: #fff;
    min-height: 100%;
    position: relative;
}

#sidebar a.navbar-brand {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #FFF;
    font-size: 32px;
    padding-top: 30px;
}

#sidebar ul {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li{
    width: 90%;
    margin: 0 0 10px 10px;
}
#sidebar ul li.separator{
    margin-top: 20px;
}
#sidebar ul li a {
    font-size: 14px;
    display: block;
    color: #dbdbdb;
    padding: 6px 12px;
    border-radius: 10px;
}
#sidebar ul li a:hover {
    color: #fff;
    text-decoration: none;
}

#sidebar ul li.active > a, 
a[aria-expanded="true"] {
    color: #fff;
    background: #494949;
}

nav.navbar ul.navbar-nav li.toggle-menu{
    color: #FFFF;
    cursor: pointer;
}

nav.navbar ul.mr-rigth li.nav-item a.nav-link{
    color: #FFF;
}

div.navigation-content{
    background: white;
    height: 10%;
    width: 100%;
    position: absolute;
    z-index: 1;
    margin: 0 !important;
    border-bottom: 1px solid #CECECE;
    display: table;
}

div.navigation-content div.nav-content-item{
    height: 100%;
    width: 33%;
    border-right: 1px solid #CECECE;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

div.navigation-content div.nav-content-item:hover
{
    background-color: #343a40;
    color: #FFF;
    cursor: pointer;
}

div.navigation-content div.nav-content-item span{
    font-size: 32px;
    margin-left: 8px;
}

li.nav-item-font-size span{
    font-size: 22px;
    color: #FFF;
    cursor: pointer;
}

input#search_input{
    width: 600px;
}