<nav id="sidebar" class="d-none d-md-block d-lg-block">

    <div class="text-center">
        <a class="navbar-brand" [routerLink]="['/dashboard']">Nottes</a>
    </div>

    <!-- Sidebar Links -->
    <ul class="list-unstyled">

        <!-- menu items loop -->
        <li *ngFor="let item of menu" [ngClass]="{ 'active' : isActiveRoute(item.routerLink) }">
            <a [routerLink]="['/' + item.routerLink ]">
                <i class="fa {{ item.faIco }}"></i>&nbsp;&nbsp;{{ item.translationKey | translate }}
            </a>
        </li>
        <!-- end menu items loop -->

        <li class="separator">
            <a class="pointer" (click)="logout()">
                <i class="fa fa-sign-out"></i>&nbsp;&nbsp;{{ 'sidebar.logout' | translate }}
            </a>
        </li>

    </ul>

</nav>