<nav id="sidebar" >

    <div class="text-center">
        <a class="navbar-brand" [routerLink]="['/dashboard']">Nottes</a>
    </div>

    <!-- Sidebar Links -->
    <ul class="list-unstyled">

        <li [ngClass]="{ 'active' : isActiveRoute('dashboard') }">
            <a [routerLink]="['/dashboard']">
                <i class="fa fa-home"></i>&nbsp;&nbsp;{{ 'sidebar.home' | translate }}
            </a>
        </li>

        <li [ngClass]="{ 'active' : isActiveRoute('config') }">
            <a [routerLink]="['/config']">
                <i class="fa fa-wrench"></i>&nbsp;&nbsp;{{ 'sidebar.config' | translate }}
            </a>
        </li>

        <li class="separator">
            <a class="pointer" (click)="logout()">
                <i class="fa fa-sign-out"></i>&nbsp;&nbsp;{{ 'sidebar.logout' | translate }}
            </a>
        </li>

    </ul>

</nav>