<nav id="sidebar" >

    <div class="text-center">
        <a class="navbar-brand" [routerLink]="['/dashboard']">Nottes</a>
    </div>

    <!-- Sidebar Links -->
    <ul class="list-unstyled">
        <li class="active">
            <a [routerLink]="['/dashboard']">
                <i class="fa fa-home"></i>&nbsp;&nbsp;{{ 'sidebar.home' | translate }}
            </a>
        </li>

        <li class="separator">
            <a class="pointer" (click)="logout()">
                <i class="fa fa-sign-out"></i>&nbsp;&nbsp;{{ 'sidebar.logout' | translate }}
            </a>
        </li>
    </ul>

</nav>