app-dashboard table .fa-shield{
    color: #323232;
}

div#listSearchBox{
	max-width: 300px;
}
div.dashboardActionBtns{
	padding-bottom: 15px;
}
.action-dropdown-menu a{
	padding-top: 10px;
	padding-bottom: 10px;
}
div.left-item-list{
	border-right: 1px solid #CECECE;
	height: 94vh;
	max-height: 94vh;
	overflow-y: scroll;
	background-color: #FFF;
}

div.notte-list-item .tags span{
	font-size: 12px;	
}
div.notte-list-item .updated_at{
	font-size: 12px;
}
div.notte-list-item .encrypted{
	font-size: 12px;
}
div#welcome-dashboard{
	font-size: 32px;
	opacity: 0.5;
}
div#welcome-dashboard div.align-self-center i{
	font-size: 74px;
}
div.notte-list-item span.encrypted-label{
	font-size: 12px;
	font-weight: normal;
}
div.white-right{
	background-color: #FFF;
	padding: 30px;
	min-height: 100%;
}

div.content-preview{
	height: 93vh;
	max-height: 93vh;
	overflow-y: scroll;
	background-color: #F4F4F4;
}

div.left-item-list div.ellipsis:hover{
	opacity:1;
}

div.notte-list-item-container{
	width: 100%;
	border-bottom: 1px solid #CECECE;
}

div.notte-list-item-container:hover{
	background-color: #EAEAEA;
	cursor: pointer;
}

div.notte-list-item-container div.notte-list-item{
	width: 85%;
	float:left;
	padding: 20px 0 20px 20px;
}

div.notte-list-item-container div.ellipsis{
	width:15%;
	opacity: 0.3;
	float: left;
	padding-top: 15px;
}

div.notte-list-item-container div.ellipsis i.dropdown-toggle::after {
	display: none;
}

div.content-preview-wrapper{
	padding: 20px;
}

div.ellipsis div.dropdown-menu a:active,
div.ellipsis div.dropdown-menu a:active i{
	color: #FFF !important;
}
