app-dashboard table .fa-shield{
    color: #323232;
}

div#listSearchBox{
	max-width: 300px;
}
div.dashboardActionBtns{
	padding-bottom: 15px;
}
.action-dropdown-menu a{
	padding-top: 10px;
	padding-bottom: 10px;
}
div.left-item-list{
	border-right: 1px solid #CECECE;
	height: 94vh;
}