app-dashboard table .fa-shield{
    color: #323232;
}
.link{
	color: #007bff !important
}
.link:hover{
	cursor: pointer;
}

div#listSearchBox{
	max-width: 300px;
}
div.dashboardActionBtns{
	padding-bottom: 15px;
}
.action-dropdown-menu a{
	padding-top: 10px;
	padding-bottom: 10px;
}
div.left-item-list{
	border-right: 1px solid #CECECE;
	min-height: 94vh;
	max-height: 94vh;
	background-color: #FFF;
}
div.notte-list-item-main-wrapper{
	background: white;
	margin: 0 auto;
	padding: 20px;
}

div.loading-more-spinner{
	font-size: 32px;
	margin: 20px 0;
}

div.notte-list-item .tags span{
	font-size: 12px;	
}
div.notte-list-item .updated_at{
	font-size: 12px;
}
div#welcome-dashboard{
	font-size: 32px;
	opacity: 0.5;
}
div#welcome-dashboard div.align-self-center i{
	font-size: 74px;
}
div.white-right{
	background-color: #FFF;
	padding: 30px;
	min-height: 100%;
}

div.content-preview{
	height: 93vh;
	max-height: 93vh;
	overflow-y: scroll;
	background-color: #F4F4F4;
}

div.left-item-list div.ellipsis:hover{
	opacity:1;
}

div.notte-list-item-container{
	width: 100%;
	border-bottom: 1px solid #CECECE;
}

div.notte-list-item-container:hover{
	background-color: #EAEAEA;
	cursor: pointer;
}

div.notte-list-item-container div.notte-list-item{
	width: 85%;
	float:left;
	padding: 20px 0 20px 20px;
}

div.notte-list-item-container div.ellipsis{
	width:15%;
	opacity: 0.3;
	float: left;
	padding-top: 15px;
}

div.notte-list-item-container div.ellipsis i.dropdown-toggle::after {
	display: none;
}

div.notte-list-item-container div.item-content h5{
	word-break: break-word;
}

div.content-preview-wrapper{
	padding: 20px;
}

div.ellipsis div.dropdown-menu a:active,
div.ellipsis div.dropdown-menu a:active i{
	color: #FFF !important;
}

div.left-item-list div#list_items_count{
	height: 40px;
	display: table;
	width: 100%;
	border-bottom: 1px solid #CECECE;
}
div.left-item-list div#list_items_count span{
	display: table-cell;
	padding-left: 20px;
}
div.left-item-list div#list_items_count span.pagination{
	font-size: 12px;
}

/**
 * Cards
 */

div#dashboard div.card-columns{
	padding-top: 20px;
	column-count: 6;
}

div#dashboard div.card-columns div.card h5.card-title{
	font-size: 16px;
	padding-top: 3px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.text-encrypted{
	color: #cc9200;
}

/**
 * Responsive styles
 */
@media (max-width: 575px) 
{ 
	div.left-item-list{
		min-height: 46.7vh;
		max-height: 46.7vh;
	}

	div.left-item-list div.notte-list-item-main-wrapper{
		min-height: 42vh;
		max-height: 42vh;
	}

	div.content-preview{
		min-height: 48vh;
		max-height: 48vh;
	}
}
