<!--
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">

    <div id="listSearchBox" class="input-group mb-2 mr-sm-2 pull-right">
	    <input type="text" [(ngModel)]="searchTerm" (keyup)="searchOnKey($event)" class="form-control" id="inlineFormInputGroupUsername2" placeholder="{{ 'common.search' | translate }} ...">
	    <div class="input-group-prepend pointer">
	      	<div class="input-group-text" (click)="loadEntities(1)" *ngIf="isSearch" ngbTooltip="{{ 'common.clear_search' | translate }}" placement="bottom"><i class="fa fa-times"></i></div>
	      	<div class="input-group-text" (click)="search()" *ngIf="!isSearch"><i class="fa fa-search"></i></div>
	    </div>
	</div>

</div>
-->

<div class="col-12 padding0">

	<spinner [show]="loading"></spinner>

	<div class="row">

		<div class="col-3 left-item-list pr-0">
			
			<div class="notte-list-item" *ngFor="let item of listElements.items">
				<h5>
					<!-- doc -->
					<i class="fa fa-file-text-o" *ngIf="item.type == 'doc'" ngbTooltip="{{ 'components.dashboard.types.doc' | translate }}"></i>
					<!-- link -->
					<i class="fa fa-link" *ngIf="item.type == 'link'" ngbTooltip="{{ 'components.dashboard.types.link' | translate }}"></i>
					<!-- file -->
					<i class="fa fa-download" *ngIf="item.type == 'file'" ngbTooltip="{{ 'components.dashboard.types.file' | translate }}"></i>
					&nbsp;{{ item.name }}
				</h5>
				<div *ngIf="item.is_encrypted">
					<span class="badge badge-warning">
						<i class="fa fa-shield"></i>&nbsp;&nbsp;{{ 'components.dashboard.encrypted' | translate }}
					</span>
				</div>
				<div class="tags">
					<span class="badge badge-info">{{ item.tags }}</span>
				</div>
				<div *ngIf="item.updatedAt" class="updated_at">{{ 'components.dashboard.updated_at' | translate }} {{ item.updatedAt | date:'dd/MM/yyyy HH:mm:ss' }}</div>
			</div>

		</div>

		<div class="col-9 content-preview" *ngIf="!loading">

			<!-- preview message -->
			<div id="welcome-dashboard" class="d-flex h-100 w-100">
				<div class="align-self-center w-100 text-center">
					<i class="fa fa-eye"></i>
					<p>Select a item to preview</p>
				</div>
			</div>

			<!--
			<div class="row">

				<div class="col-xs-12 col-sm-6 col-md-6">

		  			<h5 class="card-title">

		  				<span *ngIf="!isSearch">{{ 'components.dashboard.latest_docs' | translate }}</span>
		  				<span *ngIf="isSearch">{{ 'components.dashboard.searchResults' | translate:searchResultTransParams }}</span>

					</h5>

				</div>

				<div class="responsiveActionBtns col-xs-12 col-sm-6 col-md-6 text-right">

					<div *ngIf="!isSearch">

						<div class="dropdown">
							<button class="btn btn-sm btn-outline-primary pull-right marginLeftActionBtn dropdown-toggle" type="button" data-toggle="dropdown">
							    <i class="fa fa-file-text-o"></i>&nbsp;&nbsp;{{ 'components.dashboard.create_btn' | translate }}
							</button>
							<div class="dropdown-menu action-dropdown-menu">
							    <a class="dropdown-item" [routerLink]="['/notte/create']">
							    	<i class="fa fa-file-text-o"></i>&nbsp;&nbsp;{{ 'components.dashboard.create_doc_btn' | translate }}
							    </a>
							    <a class="dropdown-item" [routerLink]="['/link/create']">
							    	<i class="fa fa-link"></i>&nbsp;&nbsp;{{ 'components.dashboard.create_link_btn' | translate }}
								</a>
							    <a class="dropdown-item" [routerLink]="['/file/upload']">
							    	<i class="fa fa-upload"></i>&nbsp;&nbsp;{{ 'components.dashboard.upload_files_btn' | translate }}
								</a>
							</div>
						</div>

						<a (click)="loadEntities(1)" class="btn btn-sm btn-outline-dark marginLeftActionBtn">
							<i *ngIf="loadingMore" class="fa fa-refresh fa-spin"></i>
							<span *ngIf="!loadingMore">
								<i class="fa fa-refresh"></i>&nbsp;&nbsp;{{ 'common.reload' | translate }}
							</span>
						</a>

						<a *ngIf="selectedItems.length" (click)="removeSelectedItems()" class="btn btn-outline-danger btn-sm">
							<i class="fa fa-trash"></i>&nbsp;&nbsp;{{ 'common.delete_btn' | translate }}
						</a>

					</div>

	  			</div>
			
			</div>
			-->

		</div>
			
	</div>

</div>