<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">

    <h1 class="h2">{{ 'components.dashboard.panel_title' | translate }}</h1>

    <div id="listSearchBox" class="input-group mb-2 mr-sm-2 pull-right">
	    <input type="text" [(ngModel)]="searchTerm" (keyup)="searchOnKey($event)" class="form-control" id="inlineFormInputGroupUsername2" placeholder="{{ 'common.search' | translate }} ...">
	    <div class="input-group-prepend pointer">
	      	<div class="input-group-text" (click)="loadEntities(1)" *ngIf="isSearch" ngbTooltip="{{ 'common.clear_search' | translate }}" placement="bottom"><i class="fa fa-times"></i></div>
	      	<div class="input-group-text" (click)="search()" *ngIf="!isSearch"><i class="fa fa-search"></i></div>
	    </div>
	</div>

</div>

<div class="col-md-12 padding0">

	<div class="card">

		<spinner [show]="loading"></spinner>

  		<div class="card-body" *ngIf="!loading">

  			<div class="row">

				<div class="col-xs-12 col-sm-6 col-md-6">

		  			<h5 class="card-title">

		  				<span *ngIf="!isSearch">{{ 'components.dashboard.latest_docs' | translate }}</span>
		  				<span *ngIf="isSearch">{{ 'components.dashboard.searchResults' | translate:searchResultTransParams }}</span>

					</h5>

				</div>

				<div class="responsiveActionBtns col-xs-12 col-sm-6 col-md-6 text-right">

					<div *ngIf="!isSearch">

						<div class="dropdown">
							<button class="btn btn-sm btn-outline-primary pull-right marginLeftActionBtn dropdown-toggle" type="button" data-toggle="dropdown">
							    <i class="fa fa-file-text-o"></i>&nbsp;&nbsp;{{ 'components.dashboard.create_btn' | translate }}
							</button>
							<div class="dropdown-menu action-dropdown-menu">
							    <a class="dropdown-item" [routerLink]="['/notte/create']">
							    	<i class="fa fa-file-text-o"></i>&nbsp;&nbsp;{{ 'components.dashboard.create_doc_btn' | translate }}
							    </a>
							    <a class="dropdown-item" [routerLink]="['/link/create']">
							    	<i class="fa fa-link"></i>&nbsp;&nbsp;{{ 'components.dashboard.create_link_btn' | translate }}
								</a>
							    <a class="dropdown-item" [routerLink]="['/file/upload']">
							    	<i class="fa fa-upload"></i>&nbsp;&nbsp;{{ 'components.dashboard.upload_files_btn' | translate }}
								</a>
							</div>
						</div>

						<a (click)="loadEntities(1)" class="btn btn-sm btn-outline-dark marginLeftActionBtn">
							<i *ngIf="loadingMore" class="fa fa-refresh fa-spin"></i>
							<span *ngIf="!loadingMore">
								<i class="fa fa-refresh"></i>&nbsp;&nbsp;{{ 'common.reload' | translate }}
							</span>
						</a>

						<a *ngIf="selectedItems.length" (click)="removeSelectedItems()" class="btn btn-outline-danger btn-sm">
							<i class="fa fa-trash"></i>&nbsp;&nbsp;{{ 'common.delete_btn' | translate }}
						</a>

					</div>

					

	  			</div>
  			
  			</div>

			<table class="table table-dashed table-responsive-sm">

				<thead>

					<tr>
						<th width="8">
							<input type="checkbox" (change)="selectAll($event)" />
						</th>
						<th>{{ 'components.dashboard.name' | translate }}</th>
						<th>{{ 'components.dashboard.type' | translate }}</th>
						<th>{{ 'components.dashboard.tags' | translate }}</th>
						<th class="text-center">{{ 'components.dashboard.encrypted' | translate }}</th>
						<th>{{ 'components.dashboard.created_by' | translate }}</th>
						<th>{{ 'components.dashboard.updated_at' | translate }}</th>
						<th></th>
					</tr>

				</thead>

				<tbody>

					<tr *ngFor="let item of listElements.items">
						<td>
							<input type="checkbox" [checked]="isSelected(item)" (click)="selectFromList(item)" />
						</td>
						<td>
			            	<a *ngIf="item.type == 'doc'" [routerLink]="['/notte/' + item.id ]">{{ item.name }}</a>
			            	<a *ngIf="item.type == 'link'" target="_blank" href="{{ item.content }}" ngbTooltip="{{ item.content }}">{{ item.name }}</a>
						</td>
						<td>
							<i class="fa fa-file-text-o" *ngIf="item.type == 'doc'" ngbTooltip="{{ 'components.dashboard.types.doc' | translate }}"></i>
							<i class="fa fa-link" *ngIf="item.type == 'link'" ngbTooltip="{{ 'components.dashboard.types.link' | translate }}"></i>
						</td>
						<td>{{ item.tags }}</td>
						<td class="text-center">
							<i *ngIf="item.isEncrypted" class="fa fa-shield"></i>
						</td>
						<td>{{ item.creatorUsername }}</td>
						<td>{{ item.updatedAt | date:'dd/MM/yyyy HH:mm:ss' }}</td>
						<td>
							<a *ngIf="item.type == 'doc'" [routerLink]="['/notte/edit/' + item.id ]" placement="top" ngbTooltip="{{ 'common.edit_btn' | translate }}"><i class="fa fa-edit"></i></a>

							<a *ngIf="item.type == 'link'" [routerLink]="['/link/edit/' + item.id ]" placement="top" ngbTooltip="{{ 'common.edit_btn' | translate }}"><i class="fa fa-edit"></i></a>

							&nbsp;
							<a (click)="deleteItem(item, 'name')" class="pointer" placement="top" ngbTooltip="{{ 'common.delete_btn' | translate }}"><i class="fa fa-trash text-danger"></i></a>
						</td>
					</tr>

				</tbody>

				<tr *ngIf="!listElements.items?.length">
					<td class="no-results-padding" align="center" colspan="5">{{ 'common.no_results_found' | translate }}</td>
				</tr>

				<tfoot *ngIf="currentPaginationPosition < listElements.total_count">

					<td class="text-center" colspan="7">
						
						<button [disabled]="loadingMore" (click)="loadMore()" class="btn-outline-primary btn loadMoreBtn">
							<i *ngIf="loadingMore" class="fa fa-refresh fa-spin"></i>
							<span *ngIf="!loadingMore">Load more</span>
						</button>
						<div class="clearfix"></div>
						<small class="listing_x_of_y">{{ 'components.pagination.listing_x_of_y' | translate:paginationTransParams }}</small>

					</td>

				</tfoot>

			</table>

		</div>

	</div>

</div>