/**
 * Vars
 */
$inactiveNavbarColor: #f0f0f0;

/**
 * Styles
 */
div#navbar_container {

  nav.navbar {

    & {
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: #FFF;
    }

    input {
      & {
        margin-left: 50px;
        background-color: $inactiveNavbarColor;
        min-width: 350px;
        border: 1px solid $inactiveNavbarColor;
      }

      &:focus,
      &:active {
        background-color: #FFF;
        box-shadow: none;
        border: 1px solid $inactiveNavbarColor;
      }
    }
  }

  .user-navbar{
    a{
      &{
        color: #000;
      }
      &:hover{
        text-decoration: none;
      }
    }
  }

}
