section.main-section{

  div.sidebar-wrapper{

    &{
      padding-left: 0;
    }

    ul.sidebar{

      &{
        font-size: 13px;
        margin: 0 10px 0 20px;
      }

      li.list-group-item.active{
        color: white;
      }

      li.list-group-item{
        color: #000;
      }

      .list-group-item{
        &{
          color: #007bff;
          border-radius: .25rem;
          border: 0;
        }

        &:hover{
          cursor: pointer;
        }

        &.active{
          color: #FFF;
        }
      }
    }

  }
}
