@import 'bootstrap/dist/css/bootstrap.min.css';

div.container-row{
    min-height: 100vh;
}

nav.bg-dark a,
nav.bg-dark a:active,
nav.bg-dark a:hover
{
    color:#FFF !important;
}

table tbody.simpleTable tr:hover{
    cursor:pointer;
}

.sidebar {
    top: 0;
    bottom: 0;
    left: 0;
    min-height: 100vh !important;
    z-index: 100;
    padding: 48px 0 0;
    background-color: #2d3436;
}
.sidebar .nav-item a{
    color: #FFF;
    padding-left:30px;
}

.right-wrapper{
    padding-top:48px;
}
