@import 'bootstrap/dist/css/bootstrap.min.css';
@import "react-contexify/dist/ReactContexify.css";
@import 'toastr';

div.container-row{
    min-height: 100vh;
}

nav.bg-dark a,
nav.bg-dark a:active,
nav.bg-dark a:hover
{
    color:#FFF !important;
}

table tbody.simpleTable tr:hover{
    cursor:pointer;
}

.sidebar {
    top: 0;
    bottom: 0;
    left: 0;
    min-height: 100vh !important;
    z-index: 100;
    padding: 48px 0 0;
    background-color: #2d3436;
}
.sidebar .nav-item a{
    color: #FFF;
    padding-left:30px;
}

.right-wrapper{
    padding:50px;
}

.button-icon{
    padding-right:10px;
}

.navbar-light .navbar-toggler-icon{
    background-image: url('../public/menu.svg');
    background-size: inherit;
    content: inherit;
    width:30px;
}
nav#mobileNavbar button.navbar-toggler{
    width: 30px;
    padding: 0;
    border: 0 !important;
}

th.text-right{
    text-align:right;
}
tr.bg-grey{
    background-color: #ececec;
}
