@media (max-width: 767px)
{
    div.config-sidebar{
        min-height: auto !important;
        padding-bottom: 10px;
        margin-bottom: 15px;
        border-bottom: 1px solid #CECECE;
        border-right: 0 !important;
    }
    div.config-sidebar ul li{
        max-width: 200px;
        float:left;
        margin-right: 30px;
    }
}
@media (max-width: 575px)
{
    div.responsiveActionBtns a,
    div.responsiveActionBtns button
    {
        display: block;
        width: 100%;
        clear:both;
        margin: 0 0 5px 0;
    }
}
@media (min-width: 575px) and (max-width: 706px)
{
    div.responsiveActionBtns a,
    div.responsiveActionBtns button
    {
        display: block;
        width: 100%;
        clear:both;
        margin: 0 0 5px 0;
    }   
}