@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "app/login/login.component.scss";
@import "app/notte/notteCreate.component.scss";
@import "app/app.component.scss";
@import "responsive.scss";

body{
    background-color: #f5f5f5;
}

body, 
app-root
{
    display:block;
	width:100%;
}

layout-sidebar{
    width: 100%;
}
.router-content{
    padding: 20px 15px 10px 30px;
}

.wrapper {
    display: flex;
    align-items: stretch;
}
.padding0{
    padding: 0;
}
.pointer:hover{
    cursor: pointer;
}
div#content-wrapper{
    padding: 0;
}
div#sidebar-wrapper{
    padding-right: 0;
}
.h2{
    font-size: 2rem;
}
.btn-outline-dark:hover{
    color: #FFF !important;
}
div.notte-content{
    font-size: 18px;
}
span.notte-name{
    font-size: 24px;
}
.marginLeftActionBtn{
    margin-left: 5px;
}
.btn-outline-primary{
    color: #007bff !important;
}
.btn-outline-primary:hover{
    color: #fff !important;
}
.btn-outline-danger{
    color: #dc3545 !important;
}
.btn-outline-danger:hover{
    color: #fff !important;
}
div.form-group label{
    font-weight: bold;
}
div.error{
    color: #dc3545!important;
    padding-top: 5px;
}
.no-results-padding{
    padding: 30px 0 10px 0 !important;
}
small.listing_x_of_y{
    display: block;
    margin-top: 10px;
}
button.loadMoreBtn{
    margin-top: 10px;
}
.noMarginRight{
    margin-right: 0;
}
.btn-outline-default{
    border: 1px solid #323232 !important;   
}
div#nottes-editor textarea{
    width: 100%;
    min-height: 300px;
}
a.navbar-brand{
    padding-left: 20px;
}
ul.navbar-nav li.nav-item{
    margin-left: 20px;
}