<div class="container-scroller">

	<div class="container-wrapper row noMarginRight">
		
		<div id="content-wrapper" class="col-md-12">

			<layout-sidebar></layout-sidebar>

			<div class="router-content">
				<div class="row">
					<div id="actions_sidebar" class="col-2">
						TODO: left sidebar (actions)
					</div>
					<div class="col-10 padding0">
						<router-outlet></router-outlet>
					</div>
				</div>
			</div>

		</div>

		<div class="scrollTop pointer" (click)="scrollTop()">
			<img src="assets/images/icon_top.png" />
		</div>

	</div>

</div>
