div.container-scroller div.container-wrapper,
div.container-scroller
{
	min-height: 100vh;
}
.scrollTop{
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 1;
    color: #000;
    font-size: 52px;
    display: none;
}
#actions_sidebar{
    background-color: #FFF;
}
